<div class="container">
  <div class="buttons">
    <button (click)="printReport()">🖨️ Print</button>
    <button (click)="exportPDF()">📄 Export PDF</button>
    <button (click)="exportExcel()">📊 Export Excel</button>
  </div>
  <h1 class="title">Student Report</h1>
  <canvas #reportCanvas id="reportCanvas" width="800" height="1120"></canvas>

</div>

سلام عليكم يا باشمهندس .. عساك بخير حال
طبعا انا مليش وش قدام حضرتك وحقيقي مفيش اعذار مناسبة اقدر اقدمها ..
لكن من بعد ما رجعت من السفر كان فيه حاجات كتير كنت محتاج اظبطها وكان فيه كورس انجيولار اخد مني وقت برضه 
المهم انا عملت التاسك طبعا معرفش اصلا هل حضراتكم لسه مهتمين ولا خلاص وطبعا انا المقصر 
على اية حال جزاكم الله خيرا على جهدكم معنا 